<%- if devise_mapping.omniauthable? %>
	<h6>Or login using:</h6>
	  <%= link_to "<span class=\"fa fa-facebook\"></span>".html_safe, omniauth_authorize_path(resource_name, :facebook), :class => "btn btn-social-icon btn-facebook" %>
	  <%= link_to "<span class=\"fa fa-google\"></span>".html_safe, omniauth_authorize_path(resource_name, :google_oauth2), :class => "btn btn-social-icon btn-google" %>
	  <%= link_to "<span class=\"fa fa-github\"></span>".html_safe, omniauth_authorize_path(resource_name, :github), :class => "btn btn-social-icon btn-github" %>
	  <%= link_to "<span class=\"fa fa-bitbucket\"></span>".html_safe, omniauth_authorize_path(resource_name, :bitbucket), :class => "btn btn-social-icon btn-github" %>
<% end -%><br>
