/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require bootstrap-social
 *= require font-awesome
 *= require_tree .
 *= require_self
 */

@import "normalize.scss";
@import "bootstrap-sprockets";
@import "bootswatch/cyborg/variables";
@import "bootstrap";
@import "_variables.scss";
@import "bootswatch/cyborg/bootswatch";
@import "bootstrap-social";
@import "font-awesome";


.btn-file {
	position: relative;
	overflow: hidden;
}
.btn-file input[type=file] {
	position: absolute;
	top: 0;
	right: 0;
	min-width: 100%;
	min-height: 100%;
	font-size: 100px;
	text-align: right;
	filter: alpha(opacity=0);
	opacity: 0;
	outline: none;
	background: white;
	cursor: inherit;
	display: block;
	}

.navbar {
	margin-top: 5px;
	border-radius: 0;
	border-top: 0;
	border-right: 0;
	border-left: 0;
}

.jumbotron {
	border-radius: 10px;
}

a>.rsze.resize {
	height: 40px;
	width: auto;
}
