<div class="col-md-6">
<h2>New listing</h2>
<%= form_for @product do |f| %>
	<% if @product.errors.any? %>
		<div id="errors">
			<h4><%= pluralize(@product.errors.count, "Error") %> prevented the operation</h4>
			<ul>
			<% @product.errors.full_messages.each do |msg| %>
				<li><%= msg %></li>
			<% end %>
			</ul>
		</div>
	<% end %>
<% end %>
	<%= render 'form' %>
</div>
